html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
* {
    margin: 0;
}

body {
    background-color: #003E42;
    height: 100%
    
}
.masthead {
    background-color: #002124;
    height: 2.5rem;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #FF0000;
    z-index: 9999;
}
.masthead-block {
    background-color: #002124;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.car-info {
    width: 80%;
    height: 4rem;
    margin: 1.25rem auto;
    text-align: center;
}
.inputs,.makes {
    margin: .25rem .5rem;
    border-style: none;
    border-radius: 2px;
    padding: .25rem;
}
#search-button {
    background-color: #C40000;
    color: #FFFFFF;
    padding: .25rem .5rem;
}
#search-button:hover {
    background-color: #FF0000;
}
.main-container {
    display: block;
    position: fixed;
    top: 4rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.logo {
    margin: 2rem 0 6rem 0;
}
.car-data {
    display: inline-block;
}
.boxes-image {
    width: 200px;
    margin: 0 auto;
}
.year,.price,.engine,.hp,.mpg,.rating {
    width: 200px;
    min-height: 2rem;
    background-color: #C6F0FF;
    border: 2px solid #FFFFFF;
    margin: .25rem auto;
    line-height: 2rem;
    vertical-align: middle;
    font-weight: 600;
    overflow: auto;
}

.boxes p {
    width: 200px;
    min-height: 2rem;
    background-color: #C6F0FF;
    border: 2px solid #FFFFFF;
    margin: .25rem auto;
    line-height: 2rem;
    vertical-align: middle;
    font-weight: 600;
    overflow: auto;
}

.edmunds-logo {
    width: 220px;
    margin: 0 auto;
    z-index: 9999;
}
.footer-block {
    background-color: #002124;
    height: 44px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;

}
.footer {
    background-color: #002124;
    height: 22px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid red;
    z-index: -1;

}
